
@{
    ViewBag.Title = "Choose Scan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrapper">
    <div class="alert alert-success">@ViewBag.Message</div>
    <h2>Choose AV Scanner</h2>
    <hr />
    <div class="col-sm-10 col-sm-offset-1">
        <a href="/upload/scan?servicename=wd" class="col-sm-3 col-xs-12 btn btn-primary btn-lg box-view"><p><img src="~/Content/images/shield.svg" class="btn-icon-sm" /></p><p>Windows Defender</p></a>
        <a href="/upload/scan?servicename=vt" class="col-sm-3 col-xs-12 col-sm-offset-1 btn btn-primary btn-lg box-view"><p><img src="~/Content/images/bug.svg" class="btn-icon-sm" /></p><p>Virus Total</p></a>
        <a href="/upload/scan?servicename=all" class="col-sm-3 col-xs-12 col-sm-offset-1 btn btn-info btn-lg box-view"><p><img src="~/Content/images/foursquare-button.svg" class="btn-icon-sm" /></p><p>Scan in Both</p></a>
    </div>
</div>